<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.intentfilter.androidpermissions">

  <application android:label="@string/app_name">

    <activity
        android:name=".PermissionsActivity"
        android:exported="false"
        android:excludeFromRecents="true"
        android:theme="@style/AppTheme.Transparent" />

  </application>

</manifest>